**/.Rproj.user/**
AERO/.ipynb_checkpoints
AERO/aerodata
AERO/aeroinputs
AERO/soil_grids_sand_clay
*.zip
*.7z
*.ini
*.tif
*.Rdata
*.csv
.Rhistory
*.png
*.Rproj
R_scripts/old
R_scripts/Final_GLMM_Results.R
Figures/
Educational_materials/
data/